
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

:root{
    --turquesa:#34B0BE;
    --beige:#D1CECA;
    --azul:#010739;
    --blanco:#FFFFFF;
    --amarillo:rgb(249, 109, 9);
    --negro:black;
    --gris:gray;


}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--azul);
    padding: 90px,20px , 0px;
    font-family: 'Montserrat' , sans-serif ;
}
.nav{
    background-color: var(--azul);
    height: 80px;
    width: 100%;
    box-shadow: 10px 5px 10px 5px #ccc;
}

.tec{
    height: 40px;
    width: 10%;
    padding: 0 40px;

}


.nav-menu{
    float: right;
    margin-right: 20px;
    list-style: none;
}

.items{

    display: inline-block;
    line-height: 80px;
    margin: 0 , 5px;
}

.ancles{
    color: var(--blanco);
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none; 
}
.ancles:hover{
    background-color: var(--turquesa);
    transition: 0.5s;
}

.header{
    background-color: var(--azul);
    color: var(--turquesa);
}

.datos{
     background-color: #34B0BE;
     
}

.informacion h2{
    font-size: 3rem;
    color:var(--turquesa);
    padding: 0rem 1.5rem 5rem;
}


.header-informacion{

   
    margin: auto;
   
    max-width:900px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    padding: 1.5rem 0;
    border-radius: 5px;
    flex-direction: row-reverse;

 }


 


.header-informacion h1{

    font-size: 2.5rem;
    color:var(--turquesa); 
}

.header-informacion h2 > span{
    color:var(--blanco);
} 

.informacion{
        background-color:var(--azul);
        text-align: center;
        padding: 3rem 1.5rem 5rem;
        font-size: 1.5rem;
        color:var(--blanco); 
}

 
.header-yo{
    height: 400px;
    width: 400px;
    border-radius: 20rem;
    border-color: var(--turquesa);
 
    margin-bottom: 2rem;
}

.social-container{
    display: flex;
    gap: 2rem;
    justify-content:center;
    align-items: center;
    padding: 1.5rem 0;
}

.social-circle{
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
}

.social-container2{
    margin: auto;
    background-color: gray;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content:center;
    align-items: center;
    padding: 1.5rem 0;
    border-radius: 5px;


    
}

.ctn{
    
    display: flex;
    gap: 2rem;
    justify-content:center;
    align-items: center;
    padding: 1.5rem 0;
}

.box1{
    background-color: var(--beige);
}
.box2{
    background-color: var(--beige);
}
.box3{
    background-color: var(--beige);
}


.l1{
    margin: auto;
    display: flex;
    color: var(--blanco);
    font-size: 1rem;
    flex-wrap: wrap;
    align-content: stretch;
    padding-left: 400px;
}
 

.l2{
    margin: auto;
    display: flex;
    color: var(--blanco);
    font-size: 1rem;
    flex-wrap: wrap;
    align-content: stretch;
    padding-left: 400px;
}


.l3{
    margin: auto;
    display: flex;
    color: var(--blanco);
    font-size: 1rem;
    flex-wrap: wrap;
    align-content: stretch;
    padding-left: 400px;
}

#id{
    display: flex;
    justify-content: space-between;

}


.progress {
    margin: auto ;
    height: 20px;
    width: 50%;
    border: 1px solid var(--beige);
    border-radius: 5px;
    background-color: var(--beige);
    margin-bottom: 15px;
    justify-content: center;
    align-content: center;
}
 
.progress-bar {
    height: 100%;
    background: var(--turquesa);
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: var(--azul);
}

h3{ margin: auto ; 
    justify-content: center;
    color: gray;
    text-align: center;
    padding: 1rem 1.5rem 1rem;
    font-size: 1rem;
    
}
h2{ 
    justify-content: center;
    color: var(--azul);
    text-align: center;
   
    font-size: 2rem;
    
}
h4{
    text-align: center;
    padding: 2rem 1.5rem 5rem;
    font-size: 3rem;
    color:var(--turquesa); 
}




.Servicios{ 
   
    display: flex;
    gap: 5rem;
    justify-content:center;
    align-items: center;
    padding: 1.5rem 0;
}

#h3-contactos{

    text-align: center;
    padding: 2rem 1.5rem 5rem;
    font-size: 3rem;
    color:var(--turquesa); 
}

#contacto{
    text-align: center;
    display: flex;
    gap: 5rem;
    justify-content:center;
    align-items: center;
    padding: 1.5rem 0;
}

#img1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:center;
    align-items: center;
    background-color: var(--blanco);
    width: 300px;
    height: 400px;
    
}



#img2{
    
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:center;
    align-items: center;
    background-color: var(--blanco);
    width: 300px;
    height: 400px;
}
#img3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content:center;
    align-items: center;
    background-color: var(--blanco);
    width: 300px;
    height: 400px;
}


#img4{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content:center;
    background-color: var(--blanco);
    width: 300px;
    height: 300px;



}
#img5{

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content:center;
    background-color: var(--blanco);
    width: 300px;
    height: 300px;
}

.imagen6{
    display: flex;
    justify-content:center;
    width: 200px;
    height: 200px;
}
.imagen7{
 
    display: flex;
    justify-content:center;
    width: 200px;
    height: 200px;
}


.contacto-h2{

    display: flex;
    justify-content: center;
    align-items: flex-end;
        font-size: 1.5rem;
        color:var(--negro); 
}


.contacto-h3{

        text-align: center;
        font-size: 1rem;
        color:var(--negro); 
}


.checkbtn{
    font-size: 40px;
    line-height: 80px;
    float: right; 
    margin-right:40px;
    cursor: pointer;
    display: none;
   
  }

  #check{

    display:none;

    
  
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    background: var(--azul)
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 45px;
    color: var(--azul);
    background: rgba(0,0,0,.4);
    text-align: center;

 
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: var(--turquesa);
    padding: 15px;
    color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px var(--blanco);
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: var(--blanco);
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}




@media (max-width:750px){
    
    .checkbtn{
        display: block;
    }
    .nav-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--turquesa);
        top: 80px;
        left:-100%;
        text-align: center;
        transition: all 0.5s;
    }
    .header-informacion{

   

   
    max-width:500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0.5rem 0;
    border-radius: 1px;
    align-content: center;
    align-items: center;
    
     }
    
    .header-yo{
        height: 150px;
        width: 150px;
        border-radius: 10rem;
        border-color: var(--turquesa);
     
        margin-bottom: 2rem;
    }
    
    .header-informacion h1{

        font-size: 2.5rem;
        color:var(--turquesa); 
    }
    .informacion h2{
        font-size: 3rem;
        color:var(--turquesa);
        padding: 0rem 1.5rem 5rem;
    }

    .social-circle{
        background-color: white;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
    }
    
    .social-container2{
        margin: auto;
        background-color: gray;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content:center;
        align-items: center;
        padding: .5rem 0;
        border-radius: 1px;}

    .informacion{
        background-color:var(--azul);
        text-align: center;
        padding: 0rem 1.5rem 5rem;
        font-size: 1.5rem;
        color:var(--blanco); 
    }

    .status label{
        
        color: var(--blanco);
        text-align: center;
        padding: 0rem 1.5rem 5rem;
        font-size: 1.5rem;
        
        
    }
 
    .progress {
        margin: auto ;
        height: 40px;
        width: 80%;
        border: 1px solid var(--beige);
        border-radius: 5px;
        background-color: var(--beige);
        margin-bottom: 15px;
        justify-content: center;
        align-content: center;
    }
     
    .progress-bar {
        height: 100%;
        background: var(--turquesa);
        display: flex;
        align-items: center;
        transition: width 0.25s;
        border-radius: 5px;
    }
     
    .progress-bar-text {
        margin-left: 10px;
        font-weight: bold;
        color: var(--azul);
    }

    
h3{ margin: auto ; 
    justify-content: center;
    color: var(--turquesa);
    text-align: center;
    padding: 5rem 1.5rem 5rem;
    font-size: 1rem;
    
}

.Servicios{ 
    display: flex;
    gap: 1rem;
    justify-content:center;
    align-items: center;
    padding: 1.5rem 0;
}

#img1{
    background-color: var(--blanco)
}
#img2{
    background-color: var(--blanco)
}
#img3{
    background-color:var(--blanco)
}

    #contentItemsCarrusel{
        border: 15px solid var(--azul);
        height: 200Px;
        overflow: hidden;
    }

    .itemCarrusel{
        border: 1px solid var(--azul);
        height: 100px;
        position: relative;
      
    }

    .tarjetaCarrusel{
        
        height: 100%;
    }
    .flechasCarrusel{
       
        position: absolute;
        top:0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    #tarjetaCarrusel1{
        background-color: var(--blanco);
    }

    #tarjetaCarrusel2{
        background-color: var(--turquesa);
    }
    #tarjetaCarrusel3{
        background-color: var(--amarillo);
    }

    .items{
        display: block;
        margin:50px 0;
        line-height: 30px;
    }

    .ancles{
        font-size: 20px;
    }

    .ancles:hover{
        
        background: var(--azul);
    }

    #check:checked ~ .nav-menu{
        left:0;
    }


}